$page-builder-slick-color-white: #fff;
$page-builder-slick-button-color-border: #ccc;
$page-builder-slick-button-color-active: #1c1918;

.slick-dots {
  display: block;
  list-style: none;
  margin: 0;
  padding: 20px 0 18px;
  text-align: center;
  width: 100%;

  li {
    cursor: pointer;
    display: inline-block;
    height: 15px;
    margin: 0 6px;
    padding: 0;
    position: relative;
    width: 15px;

    &::before {
      content: none;
      left: 0;
      padding-right: 0;
      top: 0;
    }

    button {
      background: $page-builder-slick-color-white;
      border: 1px solid $page-builder-slick-button-color-border;
      border-radius: 10px;
      box-shadow: none;
      cursor: pointer;
      display: block;
      height: 14px;
      padding: 0;
      text-indent: -99999px;
      transition: .3s;
      width: 14px;
    }

    &.slick-active {
      button {
        background: $page-builder-slick-button-color-active;
      }
    }
  }
}
